@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

#app {
  font-family: 'Reggae One', cursive;
}

$color: (main:green,
  second:blue);

.testHello {
  font-size: 30px;
  font-weight: 600;
}