@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

#app {
  font-family: 'Noto Serif TC', serif;
}

$color: (main:green,
  second:blue);

.testHello {
  font-size: 30px;
  font-weight: 600;
}